body {
	font-family: Arial,Helvetica,sans-serif;
	margin: 10px;
}

/* Header */
#opponent {
	float:left;
	font-size: 1.3em;
	font-size: 1.3em;
}
div.dateLabel {
	float:right;
	font-size: 0.7em;
	padding: 6px 5px 0 0;
}
#dateTimeField {
	float:right;
	font-size: 1.3em;
	padding-right: 5px;
}


div.roster-col {
	float:left;
	width: 50%;
	vertical-align:top;
	margin: 20px 0 0 0;
	padding:0;
}

div.field-col {
	float:right;
	width:50%;
	vertical-align:top;
	margin:2px 0 0 0;
	padding:0;
}

div.gameLabel {
	float:left;
	font-size: 0.7em;
	padding: 6px 5px 0 0;
}

#roster {
	border-collapse: collapse;
	margin:0;
	padding:0;
	font-size: 1.15em;
}
td.shift {
	border: 1px solid black;
	min-width:20px;
	text-align:center;
}
td.numberName {
	width: 140px;
	min-width: 140px;
	border: 1px solid black;
}
div.number {
	display:inline-block;
	width: 40px;
	text-align: right;
	font-weight:normal;
	padding: 3px;
}
div.player {
	display:inline-block;
	font-weight:bold;
	padding-left: 10px;
	padding: 3px;
}
#remaining td {
	font-size: 14px;
	font-weight:bold;
	text-align:left;
	border: none;
	text-align: left;
	vertical-align: top;
}
#remaining td div {
	display:inline-block;
	width: 1.5em;
	text-align: center;
	vertical-align: middle;
	border:solid thin black;
	padding:1px;
}

.warning {
	background-color: #ffff00;
}
.sit {
	background-color: #e8e8e8;
}
#remaining {
	height: 5em;
}
#goals-us, #goals-them {
	display: none;
	height: 4em;
	text-align:center;
}
#goals-us td, #goals-them  td {
	border: 1px solid black;	
}
.formation-picker {
	margin-top: 1em;
}
@media print {    
    #remaining, #save, #clear, .formation-picker {
        display: none !important;
    }

	#goals-us, #goals-them {
		display: table-row !important;
	}
}
